<!-- cart/order-confirmation.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Order Confirmation</h2>

    <p>Thank you for your order, {{ name }}! Your order will be shipped to the following address:</p>
    <p>{{ address }}</p>

    <h4>Order Summary</h4>
    <ul>
        {% for item in cart_items %}
            <li>
                {{ item.product.title }} (x{{ item.quantity }}) - Kshs. {{ item.total }}
            </li>
        {% endfor %}
    </ul>

    <h5>Total: Kshs. {{ cart_total }}</h5>

    <p>Your order is being processed, and you will be notified once it's shipped.</p>
</div>
{% endblock %}
