{% extends 'sms/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>Course Details: {{ course.name }}</h5>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h6>Course Information</h6>
                <p><strong>Code:</strong> {{ course.code }}</p>
                <p><strong>Teacher:</strong> {{ course.teacher|default:"Not assigned" }}</p>
                <p><strong>Duration:</strong> {{ course.duration_in_semesters }} semesters</p>
            </div>

            <div class="col-md-6">
                <h6>Course Structure</h6>
                <div class="accordion">
                    {% for semester in semesters %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse">
                                {{ semester.semester }}
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <ul class="list-group">
                                    {% for subject in semester.subjects.all %}
                                    <li class="list-group-item">{{ subject.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}