{% extends 'sms/base.html' %}
{% block content %}
<div class="card shadow">
    <div class="card-header bg-primary text-white">
        <h3 class="mb-0">{{ object }}</h3>
    </div>
    <div class="card-body">
        <dl class="row">
            {% for field in fields %}
                <dt class="col-sm-3">{{ field.verbose_name|title }}</dt>
                <dd class="col-sm-9">{{ object|getattr:field.name }}</dd>
            {% endfor %}
        </dl>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url view.model|lower|add:'_update' object.pk %}"
               class="btn btn-primary me-2">
                <i class="bi bi-pencil me-2"></i>Edit
            </a>
            <a href="{% url view.model|lower|add:'_delete' object.pk %}"
               class="btn btn-outline-danger">
                <i class="bi bi-trash me-2"></i>Delete
            </a>
        </div>
    </div>
</div>
{% endblock %}