<!-- sms/templates/sms/student_dashboard.html -->
{% extends 'sms/base.html' %}
{% block title %}Student Dashboard{% endblock %}
{% block content %}
<h1>Student Dashboard</h1>
<div class="row">
    <div class="col-md-6">
        <h3>Enrolled Courses</h3>
        <ul class="list-group">
            {% for course in enrolled_courses %}
            <li class="list-group-item">
                {{ course.name }}
            </li>
            {% empty %}
            <li class="list-group-item">Not enrolled in any courses.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Attendance Records</h3>
        <ul class="list-group">
            {% for record in attendance_records %}
            <li class="list-group-item">
                {{ record.date }} - {{ record.status }}
            </li>
            {% empty %}
            <li class="list-group-item">No attendance records found.</li>
            {% endfor %}
        </ul>
    </div>
</div>
<h3 class="mt-4">Recent Grades</h3>
<ul class="list-group">
    {% for grade in recent_grades %}
    <li class="list-group-item">
        {{ grade.subject }}: {{ grade.mark }} ({{ grade.grade }})
    </li>
    {% empty %}
    <li class="list-group-item">No grades available.</li>
    {% endfor %}
</ul>
{% endblock %}
