<h1>Fee Account for {{ fee_accounts.0.student }}</h1>
<table>
    <thead>
        <tr>
            <th>Term</th>
            <th>Total Fees</th>
            <th>Amount Paid</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for account in fee_accounts %}
            <tr>
                <td>{{ account.term }}</td>
                <td>{{ account.total_fees }}</td>
                <td>{{ account.amount_paid }}</td>
                <td>{{ account.balance }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'pay_fees' %}">Pay Fees</a>