{% extends 'sms/base.html' %}
{% block content %}
<div class="card shadow">
    <div class="card-header bg-primary text-white">
        <h3>Student Profile</h3>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Admission Number</dt>
            <dd class="col-sm-9">{{ student.admission_number }}</dd>

            <dt class="col-sm-3">Full Name</dt>
            <dd class="col-sm-9">{{ student.first_name }} {{ student.last_name }}</dd>

            <dt class="col-sm-3">Course</dt>
            <dd class="col-sm-9">{{ student.course.name }}</dd>
        </dl>
        <a href="{% url 'sms:student_update' student.pk %}" class="btn btn-warning">
            Edit Profile
        </a>
    </div>
</div>
{% endblock %}