{% extends 'sms/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Subjects</h3>
        <a href="{% url 'subject_create' %}" class="btn btn-success">Add Subject</a>
    </div>
    <div class="card-body">
        <div class="list-group">
            {% for subject in subjects %}
            <div class="list-group-item">
                {{ subject.name }} ({{ subject.code }})
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}