asgiref
beautifulsoup4
certifi
charset-normalizer
Django
django-bootstrap-v5
idna
python-dotenv
requests
soupsieve
sqlparse
urllib3
pillow
django-mathfilters
django-crispy-forms
crispy-bootstrap5
six
django-widget-tweaks
psycopg2-binary
cloudinary
dj_database_url
django-jazzmin
djangorestframework
weasyprint
pandas
pydyf
django_select2
django-import-export
django_extensions
