<div class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'core:dashboard' %}">
                    <i class="bi bi-speedometer2"></i> Dashboard
                </a>
            </li>

            {% if request.user.user_type == 'admin' or request.user.user_type == 'teacher' %}
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-people"></i> Students
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-person-badge"></i> Teachers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-book"></i> Academics
                </a>
            </li>
            {% endif %}

            {% if request.user.user_type == 'admin' %}
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-cash-coin"></i> Finance
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-file-earmark-text"></i> Reports
                </a>
            </li>
            {% endif %}

            {% if request.user.user_type == 'parent' %}
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-people"></i> My Children
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-file-earmark-text"></i> Reports
                </a>
            </li>
            {% endif %}

            {% if request.user.user_type == 'student' %}
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-file-earmark-text"></i> My Reports
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'students:student_list' %}">
                    <i class="bi bi-people"></i> Students
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'students:classlevel_list' %}">
                    <i class="bi bi-list-ol"></i> Class Levels
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'students:stream_list' %}">
                    <i class="bi bi-funnel"></i> Streams
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>