{% include "store/base.html" %}

{% load static %}

{% block content %}

<style>
    body{
        background-color: aquamarine;
    }
</style>

<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <div  class="text-center">
            <i class="fa fa-check fa-3x text-success"  aria-hidden="true"></i>
            <br> <br>
            <h5><strong>your account is now activ</strong></h5>
            <hr>
            <p>please proceed to log in</p>

        </div>

    </div>

</body>

{% endblock %}