{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<div id="content-main">
    <form method="post">
        {% csrf_token %}
        <div class="module aligned">
            <h2>Bulk Mark Entry</h2>
            <div class="form-row">
                {{ form.as_p }}
            </div>
        </div>
        <div class="submit-row">
            <input type="submit" value="Submit Marks" class="default">
            <a href="{% url 'admin:sms_subject_changelist' %}" class="closelink">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}