{% extends "csms/base.html" %}

{% block title %}Mark Details{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Mark Details</h5>
                <div class="btn-group">
                    <a href="{% url 'csms:mark_update' mark.pk %}" class="btn btn-sm btn-outline-primary">
                        <i class="bi bi-pencil"></i> Edit
                    </a>
                    <a href="{% url 'csms:mark_delete' mark.pk %}" class="btn btn-sm btn-outline-danger">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </div>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Student</dt>
                    <dd class="col-sm-9">{{ mark.student_subject_enrollment.enrollment.student }}</dd>

                    <dt class="col-sm-3">Course</dt>
                    <dd class="col-sm-9">{{ mark.student_subject_enrollment.enrollment.course }}</dd>

                    <dt class="col-sm-3">Semester</dt>
                    <dd class="col-sm-9">{{ mark.student_subject_enrollment.enrollment.semester }}</dd>

                    <dt class="col-sm-3">Subject</dt>
                    <dd class="col-sm-9">{{ mark.student_subject_enrollment.semester_course_subject.subject }}</dd>

                    <dt class="col-sm-3">Paper</dt>
                    <dd class="col-sm-9">{{ mark.paper }}</dd>

                    <dt class="col-sm-3">Mark</dt>
                    <dd class="col-sm-9">{{ mark.mark }}</dd>

                    <dt class="col-sm-3">Entered By</dt>
                    <dd class="col-sm-9">{{ mark.entered_by.get_full_name|default:mark.entered_by.username }}</dd>

                    <dt class="col-sm-3">Entered On</dt>
                    <dd class="col-sm-9">{{ mark.entered_on|date:"Y-m-d H:i" }}</dd>

                    <dt class="col-sm-3">Last Updated</dt>
                    <dd class="col-sm-9">{{ mark.updated_on|date:"Y-m-d H:i" }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
{% endblock %}