{% extends 'isms/base.html' %}

{% block header %}
{% if form.instance.pk %}Update{% else %}Create{% endif %} Academic Year
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>Academic Year Form</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'academic_year_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}