{% extends "isms/base.html" %}

{% block content %}
<div class="card">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Reports</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-header bg-secondary text-white">
                        <h6 class="mb-0">Academic Reports</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="{% url 'isms:attendance_report' %}">Attendance Report</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'isms:exam_results_report' %}">Exam Results Report</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">Class Performance Report</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-header bg-secondary text-white">
                        <h6 class="mb-0">Financial Reports</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="{% url 'isms:fee_collection_report' %}">Fee Collection Report</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">Outstanding Fees Report</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">Revenue Report</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-header bg-secondary text-white">
                        <h6 class="mb-0">Student Reports</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="#">Student Progress Reports</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">Student Attendance Summary</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">Student Performance Analysis</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}