{% extends 'generic_detail.html' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">School Information</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">School Information</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center mb-4">
                        {% if object.logo %}
                            <img src="{{ object.logo.url }}" alt="{{ object.name }}" class="img-fluid rounded mb-3" style="max-height: 150px;">
                        {% endif %}
                        <h4>{{ object.name }}</h4>
                        {% if object.motto %}
                            <p class="text-muted"><em>{{ object.motto }}</em></p>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th width="30%">Address</th>
                                        <td>{{ object.address }}</td>
                                    </tr>
                                    <tr>
                                        <th>Phone</th>
                                        <td>{{ object.phone }}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ object.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Website</th>
                                        <td>
                                            {% if object.website %}
                                                <a href="{{ object.website }}" target="_blank">{{ object.website }}</a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Established Date</th>
                                        <td>{{ object.established_date }}</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            {% if object.is_active %}
                                                <span class="badge bg-success">Active</span>
                                            {% else %}
                                                <span class="badge bg-secondary">Inactive</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% if object.about %}
                                    <tr>
                                        <th>About</th>
                                        <td>{{ object.about }}</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-end">
                <a href="{% url 'school_edit' %}" class="btn btn-primary">
                    <i class="bi bi-pencil-square"></i> Edit School Info
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}