<form method="POST" action="{% url 'checkout' %}">
    {% csrf_token %}
    <h3>Complete Your Order</h3>
    {{ form.as_p }}
    <div class="form-group">
        <label for="payment-method">Payment Method</label>
        <select name="payment_method" id="payment-method" class="form-control">
            <option value="CASH">Cash</option>
            <option value="MPESA">M-Pesa</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Complete Order</button>
</form>
