{% extends 'scms/base.html' %}
{% load static %}

{% block title %}{{ institution }} - SCMS{% endblock %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{% url 'institution_list' %}">Institutions</a></li>
    <li class="breadcrumb-item active" aria-current="page">Details</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Institution Details</h6>
                <div>
                    <a href="{% url 'institution_edit' institution.pk %}" class="btn btn-sm btn-primary">
                        <i class="fas fa-edit me-1"></i> Edit
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center mb-4">
                        {% if institution.logo %}
                            <img src="{{ institution.logo.url }}" alt="Institution Logo" class="img-fluid rounded" style="max-height: 200px;">
                        {% else %}
                            <div class="bg-light p-5 rounded">
                                <i class="fas fa-school fa-5x text-muted"></i>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <h3>{{ institution.name }}</h3>
                        <p class="lead">{{ institution.motto }}</p>
                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                <h5>Basic Information</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0">
                                        <strong>Type:</strong> {{ institution.type }}
                                    </li>
                                    <li class="list-group-item px-0">
                                        <strong>Admission Prefix:</strong> {{ institution.admission_prefix }}
                                    </li>
                                    <li class="list-group-item px-0">
                                        <strong>Established:</strong> {{ institution.established_date|date:"Y" }}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h5>Contact Information</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0">
                                        <strong>Address:</strong> {{ institution.address|linebreaksbr }}
                                    </li>
                                    <li class="list-group-item px-0">
                                        <strong>Phone:</strong> {{ institution.phone }}
                                    </li>
                                    <li class="list-group-item px-0">
                                        <strong>Email:</strong> {{ institution.email }}
                                    </li>
                                    <li class="list-group-item px-0">
                                        <strong>Website:</strong> <a href="{{ institution.website }}" target="_blank">{{ institution.website }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}